#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  justify-content: center;
  gap: 30px;
  max-width: 1000px;
  opacity: 0;
}

.card {
    color: black;
  position: relative;
  border: 2px solid rgb(143, 143, 143);
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(180, 82, 82);
  border-radius: 100%;
  transition: transform 0.4s;
  will-change: transform, border;
  overflow: hidden;
}

.white-bottom {
    z-index: -1;
  height: 47%;
  bottom:0;
  width: 100%;
  position: absolute;
  background-color: white;
  border-top: 8px solid black;
}

.card:hover {
  transition: transform 0.2s ease;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: scale(1.04);
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.score-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
